.App {
  background-image: url("https://www.ppt-backgrounds.net/thumbs/black-wood-cinema-hd-graphic-ppt-backgrounds.jpg");
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
